body {
  margin: 0%;
  padding: 0%;
  margin-left: 200px;
}
header {
  display: flex;
  width: 1000px;

  background-color: #8a0000;
  color: white;
  margin-top: 20px;
}
.bio {
  width: 600px;
}
.myimage {
  width: 400px;
}
.myimage img {
  vertical-align: middle;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-left: 230px;
  padding: 20px;
}

.stylebio {
  margin-left: 60px;
}

.biotext {
  margin-right: 300px;
}

aside {
  width: 300px;
  margin-left: 100px;
}
section {
  width: 500px;
}

main {
  display: flex;
  width: 1000px;
  background-color: floralwhite;
}
.Allmain {
  display: flex;
}

.stylebio h3 {
  margin-top: -20px;
}

.RightSide h2 {
  font-size: 26px;
  padding: 5px;
  padding-left: 20px;
  background-color: #8b0000;
  width: 350px;

  color: white;
}

.Name {
  margin-left: 10px;
  font-weight: bold;
  font-size: 17px;
}

.Date {
  font-weight: bold;
}

.Desc {
  text-align: justify;
  text-justify: inter-word;
}

.LeftSide {
  font-size: 20px;
}
.LeftSide ul li {
  font-size: 15px;
}
.LeftSide ul {
  list-style: none;
  padding-left: 0px;
}
.LeftSide {
  margin-left: 100px;
}
.RightSide {
  margin-left: 20px;
}
.icons {
  color: #8a0000;
}

.icons {
  margin-right: 15px;
}
.rightspanlink {
  margin-left: 16px;
}

.Languages progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 250px;
  height: 20px;
}

.Languages progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.Languages progress[value]::-webkit-progress-value {
  background-color: #8b0000;
}

.Skills .progress-bar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#8b0000 75%, gray);
}
.progress-bar {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.Skills li {
  margin-top: -10px;
}
.Skills {
  margin-left: -15px;
}

.final {
  width: 1000px;

  height: 25px;
}
.final {
  display: flex;
  background-color: #8a0000;
}

.one {
  background-color: black;
  width: 333px;
}
.two {
  background-color: firebrick;

  width: 333px;
}
.three {
  background-color: black;
  width: 333px;
}

