body {
  margin: 0%;
  padding: 0%;
  margin-left: 200px;
}
header {
  display: flex;
  width: 1000px;

  background-color: #8a0000;
  color: white;
  margin-top: 20px;
  border: black 1px solid;
}
.bio {
  width: 600px;
}
.myimage {
  width: 400px;
}
.myimage img {
  vertical-align: middle;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-left: 230px;
  padding: 20px;
}

.stylebio {
  margin-left: 60px;
}

.biotext {
  margin-right: 300px;
}

aside {
  width: 300px;
  margin-left: 100px;
}
section {
  width: 500px;
}

main {
  display: flex;
  width: 1000px;
  background-color: floralwhite;
}
.Allmain {
  display: flex;
}

.stylebio h3 {
  margin-top: -20px;
}

.RightSide h2 {
  font-size: 26px;
  padding: 5px;
  padding-left: 20px;
  background-color: #8b0000;
  width: 350px;

  color: white;
}

.Name {
  margin-left: 10px;
  font-weight: 900;
  font-size: 18px;
}

.Date {
  font-weight: bold;
}

.Desc {
  text-align: justify;
  text-justify: inter-word;
}

.LeftSide {
  font-size: 20px;
}
.LeftSide ul li {
  font-size: 15px;
}
.LeftSide ul {
  list-style: none;
  padding-left: 0px;
}
.LeftSide {
  margin-left: 100px;
}
.RightSide {
  margin-left: 20px;
}
.icons {
  color: #8a0000;
}

.icons {
  margin-right: 15px;
  margin-top: 15px;
}
.rightspanlink {
  margin-left: 16px;
}

.Languages progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 250px;
  height: 20px;
}

.Languages progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.Languages progress[value]::-webkit-progress-value {
  background-color: #8b0000;
}

.final {
  width: 1000px;

  height: 25px;
}
.final {
  display: flex;
  background-color: #8a0000;
}

.one {
  background-color: black;
  width: 333px;
}
.two {
  background-color: firebrick;
  background-color: ;

  width: 333px;
}
.three {
  background-color: black;
  width: 333px;
}
.iconslist ul {
  margin-top: -20px;
}

a {
  text-decoration: none;
  color: black;
}

#grad1 {
  height: 60px;
  width: 60px;
  background-image: conic-gradient(
    darkred 0deg,
    darkred 230deg,
    rgba(0, 0, 0, 0.25) 230deg
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white 1px solid;
}
#graddiv1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

#grad2 {
  height: 60px;
  width: 60px;
  background-image: conic-gradient(
    darkred 0deg,
    darkred 180deg,
    rgba(0, 0, 0, 0.25) 180deg
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white 1px solid;
  margin-left: 16px;
}
#graddiv2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

#grad3 {
  height: 60px;
  width: 60px;
  background-image: conic-gradient(
    darkred 0deg,
    darkred 300deg,
    rgba(0, 0, 0, 0.25) 300deg
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white 1px solid;
  margin-left: 16px;
}
#graddiv3 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.Skills {
  display: flex;
}
